:root {
    --clr-primary-400: hsl(0, 0%, 0%);
    --clr-accent-400: hsl(0, 46%, 70%);
    --clr-neutral-900: hsl(0, 0%, 0%);
    --clr-neutral-400: hsl(0, 0%, 50%);
    --clr-neutral-100: hsl(0, 100%, 100%);

    --ff-primary: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-heading);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-300: 0.8125rem;
    --fs-400: 0.875rem;
    --fs-500: 0.9375rem;
    --fs-600: 1rem;
    --fs-700: 1.875rem;
    --fs-800: 2.5rem;
    --fs-900: 3.5rem;

    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
h1,
h2,
div,
p,
ul,
li {
    margin: 0;
}

ul {
    padding: 0;
}

body {
    font-family: var(--ff-body);
    line-height: 1.6rem;
}

img {
    width: 100%;
    height: auto;
}

.container {
    width: 90vw;
    margin: auto;
}

// Header and Navbar
.header {
    background-color: var(--clr-primary-400);
}


.navbar__list {
    display: flex;
    list-style: none;
}

.navbar__item>a {
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-100);
    padding: var(--size-400);
    text-transform: uppercase;
}

.navbar__item>a:hover {
    background-color: var(--clr-accent-400);
    transition-duration: 500ms;
}

// Hero - Automatic slideshow

.slide-container {
    position: relative;
    margin: auto;
}

.slide {
    display: block;
    width: 100%;

    img {
        filter: brightness(50%);
    }

    div,
    p {
        display: inline-block;
        position: absolute;

        color: var(--clr-neutral-900);
        text-align: center;
        font-weight: var(--fw-bold);
        font-size: var(--fs-700);
        bottom: var(--size-700);
        left: var(--size-600);
        background-color: var(--clr-neutral-400);
        padding: var(--size-100);

    }
}

.section__title {
    text-align: center;
    font-size: clamp(var(--fs-700), 5vw, var(--fs-900));
}


.section__desc {
    text-align: center;
    font-style: italic;
    margin: var(--size-500);
    color: var(--clr-neutral-400);
}

// Band Section
.band {
    padding: 5vh 0 15vh;

    .band__members {
        width: 50vw;
        margin: auto;

        & p {
            text-align: center;
            margin-top: var(--size-600);
        }
    }

    // div.band-members {
    //     display: flex;
    //     gap: 2rem;

    //     div {
    //         flex: 1;
    //         text-align: center;
    //     }

    // }

}

// Tour
section.tour {
    background-color: var(--clr-primary-400);
    padding: 10vh 0;

    .section__title {
        color: var(--clr-neutral-100)
    }

    div.slots {
        background-color: var(--clr-neutral-100);
        padding: var(--size-300) var(--size-500);

        &>p {
            display: inline-block;
        }

        .highlight {
            background-color: var(--clr-accent-400);
            color: var(--clr-neutral-100);
            padding: 0 var(--size-200);
            border-radius: var(--size-100);
        }
    }
}

.slots+.slots {
    border-top: 1px solid var(--clr-neutral-400);

}

.tour-location {
    background-color: var(--clr-neutral-100);
    margin: var(--size-600) 0;

    img {
        display: block;
        margin: auto;

        width: 100%;
        height: auto;
        max-height: 15rem;
        object-fit: cover;
    }

    &>div {
        margin: var(--size-400);
    }

    .tour-name {
        font-weight: var(--fw-bold);
        margin-bottom: var(--size-200);
    }

    .tour-date {
        color: var(--clr-neutral-400);
        margin-bottom: var(--size-200);
    }

    .tour-desc {
        line-height: var(--size-400);
        margin-bottom: var(--size-400);
    }

    .btn-buy-tickets {
        padding: var(--size-200) var(--size-300);
        background-color: var(--clr-neutral-900);
        color: var(--clr-neutral-100);
        text-decoration: none;
        display: inline-block;
        margin-bottom: var(--size-400);
    }
}


.mb-2rem {
    margin-bottom: var(--size-200);
}

// Contact
section.contact {
    padding: 10vh 0;

    & i {
        display: inline-block;
    }

    & p.contact-method {
        display: inline-block;
    }

    .contact-form {

        input[type="text"] {
            display: block;
            width: 100%;
            margin: var(--size-200) 0 0 0;
            padding: var(--size-200);
            border: 1px solid #bbb;
        }

        input[type="submit"] {
            padding: var(--size-100) var(--size-300);
            margin: var(--size-400) 0 var(--size-600);
            background-color: var(--clr-neutral-900);
            color: var(--clr-neutral-100);
            float: right;
        }
    }

}

footer {
    text-align: center;
    margin-bottom: var(--size-900);

}

@media(min-width: 600px) {
    .row {
        display: flex;
    }

    // Band
    section.band {
        div.band-members {
            width: 100%;
            display: flex;
            gap: var(--size-600);

            div {
                flex: 1;
                text-align: center;
            }
        }
    }

    // Tour location
    .tour-location {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        & img {
            //            object-fit: cover;
            height: 30vw;
        }

        &+& {
            margin-left: var(--size-400);
        }
    }

    // Contact
    section.contact .container {
        display: flex;

        &>* {
            flex: 1;
        }

        &>form>div {
            display: flex;
            gap: var(--size-200);
        }
    }

}