*,
*::before,
*::after {
    box-sizing: border-box;
}

header,
h1,
h2,
h4,
p,
body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.7rem;
}

.tag {
    background-color: #333;
    color: #eee;
    padding: .1rem .5rem;
}

.container {
    width: 93%;
    margin: auto;
}

.padding_1010 {
    padding: 1rem 0 1rem 0;
}

.card {
    width: 90%;
    margin: 2rem auto;
    box-shadow: 1rem 1rem 2rem .5rem rgba(0, 0, 0, .3);
    border: 1px solid rgba(200, 200, 200, .7);

    img {
        width: 100%;
    }
}


section {
    h2.section-title {
        text-transform: uppercase;
        font-weight: 100;
        margin-bottom: .6rem;
    }

    .section-desc {
        margin-bottom: 1.5rem;
        line-height: .8rem;
    }

    a.btn {
        display: inline-block;
        border: 1px solid rgba(100, 100, 100, .5);
        padding: .7rem 1.3rem;
        margin: 1rem auto 1rem 0;

        &:hover {
            background-color: rgba(100, 100, 100, .6);
            border: 1px solid #555;
            transition-duration: 2s;
        }
    }

    p.comments {
        margin-top: 1.7rem;
        float: right;

        span {
            background-color: rgb(60, 60, 60);
            color: rgb(200, 200, 200);
            padding: .5rem;
            border-radius: 50%;
        }
    }
}



h2.card-title {
    background-color: rgba(200, 200, 200, .3);
    padding: 1rem;
    font-weight: 100;
}


header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .1), rgba(0, 0, 0, .5));
    //rgba(200, 200, 200, .3);
    padding: 5rem;
    text-align: center;

    h1 {
        color: rgba(0, 0, 0, .5);
        font-size: 3rem;
        font-weight: 200;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }


}


li.post-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid rgba(100, 100, 100, .5);

    img {
        width: 20%;
        height: auto;
    }

    div {
        flex: 1;

    }

    &:hover {
        background-color: #ccc;
    }
}


section.tags div {
    padding: 1rem;

    span.tag {
        background-color: #eee;
        color: #333;
        font-size: .6rem;
        padding: .1rem .5rem;
    }

    span.tag.active {
        background-color: #333;
        color: #eee;
        font-size: 1rem;
    }
}


footer.footer {
    background-image: linear-gradient(to right, rgba(100, 100, 100, .5), rgba(0, 0, 0, .6));
    padding: 3rem 1rem;

    .btn-prev-next {
        display: inline-block;
        padding: .6rem 1.5rem;
        margin-bottom: 2rem;
        color: white;
        text-decoration: none;
        background-color: rgba(100, 100, 100, .5);
        opacity: .5;
    }

    .btn-prev-next.active {
        background-color: rgba(100, 100, 100, .9);
        opacity: .9;
    }

}

@media (min-width: 800px) {
    .split {
        display: flex;
    }

    li.post-item {
        div {
            line-height: 1rem;
            font-size: 1vw;
        }
    }
}